
.FeatureCard
{
    min-height: 80px;
    min-width: 200px;
    max-width: 400px;
    /* background-image: linear-gradient(to top right,#389239,#123456); */
    background-color: #4485fd;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.FeatureCard__description
{
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    font-style: italic;
}

.FeatureCard__data
{
    text-align: center;
}

.FeatureCard__date
{
    text-align: center;
}

#Card1
{
    background-color: #4485fd;
}
#Card2
{
    background-color: #FF7854;
}
#Card3
{
    background-color: #36C3A4;
}
#Card4
{
    background-color: #EC5749;
}