.dashboard
{
    font-family: "Karla", sans-serif;
    position: relative;
    display: grid;
    grid-template-rows:200px 400px 300px 100px;
    grid-template-columns: 400px repeat(3,1fr);
    background-color: #fafafc;
}

.dashboard__nav
{
    background-color: #fafafa;
    grid-row: 1/-2;
    grid-column: 1/2;
}
.dashboard h1
{
    text-align: center;
    margin-top: 20px;
    grid-column: 2/-1;
    grid-row: 1/2;
}

.box-1
{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #1cccc3;
}

.box-2
{
   
    width: 100%;
    grid-row: 2/3;
    grid-column: 3/4;
    background-color:#ff908f ;
}

.box-3
{
    width: 100%;
    grid-row: 2/3;
    grid-column: 4/5;
    background-color: #ffa547;
}

.box-1,.box-2,.box-3
{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 10px !important;
}

.supplements
{
    border-radius: 20px;
    background-color: #ffa6c4;
    width: 100%;
    grid-row: 3/4;
    grid-column: 2/5;
}

.box-1 h2,.box-2 h2,.box-3 h2
{
     padding: 10px 2px;
    text-align: center;
    border-bottom: 2px solid black;
}
.supplements h2
{
    padding: 30px 5px;
    text-align: center;
    border-bottom: 2px solid black;
}

.btn {
            position: relative;
            left: 40vw;
            height: 70%;
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 32px;
            margin: 20px 2px 10px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
        
        /* Hover effect */
        .btn:hover {
            background-color: #45a049; /* Darker green */
        }